<tr>
  <td class='header'>
    <a>
      <table style='margin: 0 auto;'>
        <tr>
          <td>
            <a>
              <img
                src='https://shouganai.s3.amazonaws.com/assets/savencia-logo-extended.png'
                class='logo'
                alt='Savencia'
              /></a>
          </td>
        </tr>
      </table>
    </a>
  </td>
</tr>