<!-- Email title -->
<tr>
    <td class="title" width="100%" align="center" style="font-size: 22px;">
        {{#if titleImage}}
        <img src="{{ titleImage }}">
        {{/if}}

        {{#if title}}
        <h3 class="mail-title">{{ title }}</h3>
        {{/if}}

        {{#if subtitle}}
        <h5 class="sub-title">{{ subtitle }}</h5>
        {{/if}}
    </td>
</tr>