{{#> layout title="Gracias por contactarte con nosotros" titleImage='https://shouganai.s3.amazonaws.com/assets/tilde-azul-en-circulo.jpg'}}
<p>Hemos recibido tu mensaje y estaremos comunicándonos </br>en la brevedad para responder tus inquietudes.</p>
<tr>
    <td>
        <table align="center" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
                <td class="footer footer-border" class="content-cell" align="center">
                    <p class="text-small">Por favor, no respondas este mensaje. Ante cualquier duda 
                        <br/>
                        contáctanos a 
                            <a class="link" href="mailto:atencionalcliente@savenciaarg.com">
                                atencionalcliente@savenciaarg.com
                            </a>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
{{/layout}}