{{#> layout title="Restablecer contraseña" titleImage="https://shouganai.s3.amazonaws.com/assets/eye-icon.png"}}
<p >Hemos recibido una solicitud de cambio de contraseña.</p>
<p>Puedes hacerlo a través del <strong>siguiente enlace:</strong></p>
<div class="center">
    <div class="button-spacer">
        <a href={{../url}} class="link-button">Restablecer contraseña</a>
    </div>
    <div class="center">
        <p><strong>O puede copiar y pegar el siguiente link en el navegador:</strong><br/></p>
        <p class="link-by-hand">{{../url}}</p>
    </div>
</div>
<tr>
    <td>
        <table align="center" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
                <td class="footer footer-border" class="content-cell" align="center">
                    <p class="text-small">Si no utiliza este enlace <strong>dentro de 1 hora,</strong> caducará y deberá 
                        <br/>
                        restablecer la contraseña nuevamente.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="footer" class="content-cell" align="center">
                    <p class="text-small">Si nunca solicitaste este email, puedes ignorarlo. Tu contraseña 
                        <br/>
                        seguirá siendo la misma.
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
{{/layout}}
